
body{
    background-color:#FFFEBD;
    font-family: Courier;
}
ul {
    background-color:#CC1179;
}
li a {
    color: white;
} 
img{
    width: 600px;
}
h1{
    color: blue;
}
#maria{
    width: 400px;
    
}
p{
    text-align: left;
}
h2{
    color:#3332CC;
}
article{
    border: 6px solid #2DFF35;
 
}
#first{
    color: white;
    background-color: #CC1179;
 
}
#second{
    color: white;
    background-color: #CC1179;
    text-align: center;
}
h3{
    color:white;
    font-size: 2rem;
}
footer{
    margin-top: 12px;
    text-align: center;
}

