
body{
    background-color:#FFFEBD;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    background-color:#CC1179;
}
li a {
    color: white;
} 

p{
    text-align: left;
}
h2{
    color:#3332CC;
}
article{
    border: 6px solid #2DFF35;
 
}
#first{
    color: white;
    background-color: #CC1179;
 
}
#second{
    color: white;
    background-color: #CC1179;
    text-align: center;
}
h3{
    color:white;
    font-size: 2rem;
}
#blog-footer{
    margin-top: 12px;
    text-align: center;
}
.comments{
    padding-bottom: 120px;
    width: 40%;
}
.name{
    margin: 30px;
    width: 40%;
}
.email{
    margin: 30px;
    width: 40%;
}
button{
    margin-top: 20px;
}
.icons{
    border: none;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin{
        background: #55ACEE;
    color: white;
}
